{% load i18n lfs_tags %}

<form id="search-form" class="form-inline"
      action="{% url lfs_search %}" role="form"
      autocomplete="off">
      <div class="col-md-10 pull-right">
          <div class="input-group">
              <input id="search-input" class="form-control" value="{{ q }}" type="text" name="q" autocomplete="off" data-url="{% url lfs_livesearch %}" />
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="icon-search"></i></button>
              </span>
          </div>
      </div>
      <input type="hidden" name="livesearch" value="1" />

</form>

