{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password change") %}
{% endblock %}

{% block content %}
    <h1>{% trans 'Password change' %}</h1>
    <p class="message">
        {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
    </p>

    <form action="{% url lfs_my_password %}" class="form-horizontal"
          method="post">
        {% csrf_token %}
            <div class="control-group">
                <label for="id_old_password" class="control-label">{% trans 'Old password:' %}</label>
                <div class="controls">
                    {{ form.old_password.errors }}
                    {{ form.old_password }}
                </div>
            </div>
            <div class="control-group">
                <label for="id_new_password1" class="control-label">{% trans 'New password:' %}</label>
                <div class="controls">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="control-group">
                <label for="id_new_password2" class="control-label">{% trans 'Confirm password:' %}</label>
                <div class="controls">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn" value="{% trans 'Change password' %}" />
                </div>
            </div>
        </table>
    </form>


{% endblock %}
