{% load i18n %}
{% load lfs_tags %}
{% load reviews_tags %}
{% load lfs_theme_tags %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="product-container" >
<div id="product-inline" class="row">

    <h1 class="product-title col-md-12">
        {{ product.get_name }}
    </h1>

    {# Images #}
    <div class="product-images col-xs-5 col-md-5 col-sm-5 col-lg-5">
        <div class="main-image " >
            {% if product.get_image %}
                <a href="{{ product.get_image.image.url_400x400 }}"
                   class="product-image">
                    <img src="{{ product.get_image.image.url_400x400 }}"
                         title="{{ product.get_image.title }}"
                         alt="{{ product.get_image.title }}" />
                </a>
            {% endif %}
        </div>
        <div class="sub-images">
            {% for image in product.get_sub_images %}
                <div class="col-md-3 col-sm-3 col-xs-6 text-center thumbnail">
                    <a href="{{ image.image.url_400x400 }}"
                       class="product-image text-center">
                        <img src="{{ image.image.url_60x60 }}"
                             title="{{ image.title }}"
                             alt="{{ image.title }}" class="img-responsive" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-xs-7 col-sm-5 col-md-6 col-lg-5 text-right col-lg-offset-2 col-md-offset-1 col-sm-offset-2">


        {# Prices #}
        <div class="prices btn btn-info text-right">
            {% if for_sale %}
                <div>
                    <h2 class="for-sale-price" nowrap="nowrap">
                        <span class="for-sale-price-value">
                            {{ product|get_for_sale_price_gross:request|currency:request }}
                        </span>
                        {% if price_unit %}/ {{ price_unit }}{% endif %}
                    </h2>
                    <span class="for-sale-standard-price" nowrap="nowrap">
                    <span class="for-sale-standard-price-value">
                        {{ product|get_standard_price_gross:request|currency:request }}
                    </span>
                    {% if price_unit %}/ {{ price_unit }}{% endif %}</span>
                </div>
                {% if product.get_active_base_price %}
                    <h2 class="base-price">
                        {{ product|get_base_price_gross:request|currency:request }} / {{ product.get_base_price_unit }}
                    </h2>
                {% endif %}
                {% price_vat %}
            {% else %}
                <div class="standard-price"
                      nowrap="nowrap">
                      <h2 class="standard-price-value">{{ product|get_price_gross:request|currency:request }}<small> {% if price_unit %}/ {{ price_unit }}{% endif %}</small></h2>
                </div>
                {% if product.get_active_base_price %}
                    <h2 class="base-price">
                        {{ product|get_base_price_gross:request|currency:request }} / {{ product.get_base_price_unit }}
                    </h2>
                {% endif %}
                {% price_vat %}
            {% endif %}
    </div>

        {# Displayed Properties #}
        <div class="row product-properties">
            <div class="col-md-12 col-xs-12">
            {% for property in product.get_displayed_properties %}
                    {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
            {% endfor %}
            {% shipping product %}
            </div>
        </div>


        {# Configurable Properties #}
        {% if product.is_configurable_product %}
        <div class="row"><div class="col-md-12 col-xs-12">
            <table class="cp-properties table pull-right"
                   id="cp-url"
                   data="{% url lfs_calculate_price product.id %}">

                {% for property in properties %}
                    <tr>
                        {% if property.obj.is_select_field %}
                            <td class="property-label text-right">
                                {{ property.title }}:
                            </td>
                            <td>
                                <select class="cp-property form-control"
                                        name="property-{{ property.id }}">
                                    {% if not property.obj.required %}
                                    {% endif %}
                                    {% for option in property.options %}
                                        <option value="{{ option.id }}"
                                            {% if option.selected %}selected="selected"{% endif %}>
                                            {{ option.name }}

                                            {% if property.display_price %}
                                             / {{ option.price|currency:request}}
                                            {% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        {% else %}
                            <td class="property-label">
                                {{ property.title }}:
                            </td>
                            <td class="right">
                                {% if property.obj.is_text_field %}
                                    <input class="product-input-field text-field" type="input" size="15" maxlength="100" name="property-{{ property.id }}" value="{{ property.value }}" />
                                {% else %}
                                    <input class="right product-input-field number-field" type="input" size="6" maxlength="9" name="property-{{ property.id }}" value="{{ property.value }}" />
                                {% endif %}
                                {{ property.unit }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
    </div></div>
        {% endif %}


        {% if product.is_variant %}
        <div class="row">
        <div class="variants col-md-12 col-xs-12">
            {% if display_variants_list %}
                <table class="product-variants table cp-propeirties"
                       data="{% url lfs_select_variant %}">
                   <tr>
                        <td>{% trans 'Variants' %}</td>
                        <td >
                            <select name="variant_id" class="form-control variant">
                                {% for product_variant in variants %}
                                     <option value="{{ product_variant.id }}"
                                             {% ifequal product_variant.id product.id %}selected="selected"{% endifequal %} >
                                             {{ product_variant.get_name }} -  
                                             {% if product_variant.get_for_sale %}
                                             <!--
                                                 <span class="for-sale-standard-price">
                                                     {{ product_variant|get_standard_price:request|currency:request}}
                                                 </span>
                                                 -->
                                                 <span class="for-sale-standard-price">{{ product_variant|get_for_sale_price:request|currency:request}}</span>
                                             {% else %}
                                                 <span>{{ product_variant|get_price:request|currency:request}}</span>
                                             {% endif %}
                                     </option>
                                 {% endfor %}
                             </select>
                        </td>
                    </tr>
                </table>
            {% else %}
                {% for property in properties %}
                    <div>
                        <span class="property-label">
                            {{ property.title }}:
                        </span>
                        <select class="property"
                                name="property_{{ property.id }}">
                            {% for option in property.options %}
                                <option value="{{ option.id }}"
                                    {% if option.selected %}selected="selected"{% endif %}>
                                    {{ option.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="buttons form-inline addtocart col-xs-12 col-md-12">

            {% if product.is_deliverable %}
                {% if product.get_active_packing_unit %}
                    <div class="product-quantity packing-unit form-group"
                        id="packing-url"
                        data="{% url lfs_calculate_packing product.id %}">
                        <input class="number quantity input-sm"
                            name="quantity"
                            size="3"
                            type="text"
                            value="{{ quantity }}" /> {{ unit }}
                    </div>
                {% else %}
                    {% if unit %}
                        {{ unit }}:
                    {% else %}
                        {% trans "Quantity" %}:
                    {% endif %}
                    <div class="form-group">
                        <input class="number input-sm"
                               name="quantity"
                               size="3"
                               type="text"
                               value="{{ quantity }}" />
                    </div>
                {% endif %}
                <div class="form-group">
                    <button class="emphasized btn btn-info"
                        type="submit"
                        name="add-to-cart">{% trans 'Add to cart' %}</button>
                </div>
                <div class="packing-result">
                    {{ packing_result }}
                </div>
            {% else %}
                <button class="btn btn-info"
                    onclick="window.location='{% url lfs_contact_form %}'; return false"
                    name="">{% trans 'Send request' %}</button>
            {% endif %}

            </div>
        </div> 
        <div class="row">
            <div class="col-md-12 big-stars">
               {% average_for_instance product %}
            </div>
        </div>  

        <div class="row">
            <div class="col-md-12 social">
                <div class="fb-like" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
            </div>
        </div>

    </div>






    <div class="clearfix"></div>

    <div class="col-md-12 tabs">
    <ul class="nav nav-tabs col-md-12" id="productTabs">
        <li class="active"><a href="#description">{% trans 'Description' %}</a></li>
        <!--
        {% if product.is_variant %}
        <li><a href="#variants">{% trans 'Variants' %}</a></li>
        {% endif %}
        -->
        {% if attachments %}
        <li><a href="#attachments">{% trans 'Attachments' %}</a></li>
        {% endif %}

        {% if product_accessories %}
        <li><a href="#accessories">{% trans 'Accessories' %}</a></li>
        {% endif %}

        <li>
            <div class="small-stars pull-right">{% average_for_instance product %}</div>
            <a href="#reviews">{% trans 'Reviews' %}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="description">
            {{ product.get_description|safe}}
        </div>



    {% if attachments %}
    <div class="tab-pane" id="attachments">
        <div class="attachments">
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
                        {{ attachment.title}}
                    </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    {% if product_accessories %}

    <div class="tab-pane" id="accessories">
        <div class="accessories">
            <table class="product-accessories table">
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th class="number text-center">{% trans 'Quantity' %}</th>
                    <th class="number text-center">{% trans 'Price' %}</th>
                    <th class="number text-center">{% trans 'Total' %}</th>
                    <th class="number last text-center">{% trans 'Add' %}</th>
                </tr>
                {% for product_accessory in product_accessories %}
                    <tr>
                        <td class="text-left">
                            <a href="{{ product_accessory.accessory.get_absolute_url }}">
                                <img src="{{ product_accessory.accessory.get_image.image.url_60x60 }}" alt="{{ product_accessory.accessory.get_name }}" />
                                {{ product_accessory.accessory.get_name|truncatewords_html:5 }}
                            </a>
                        </td>
                        <td class="number text-center">
                            <input type="hidden"
                                   name="quantity-{{ product_accessory.accessory.id }}"
                                   value="{{ product_accessory.quantity }}" />
                            {{ product_accessory.quantity|quantity }}
                        </td>
                        <td class="number text-center"
                            nowrap="nowrap">
                            {{ product_accessory.accessory|get_price:request|currency:request}}
                        </td>
                        <td class="number text-center"
                             nowrap="nowrap">
                            {{ product_accessory|get_price:request|currency:request}}
                        </td>
                        <td class="checkbox-left text-center">
                            <input type="checkbox"
                                   name="accessory-{{ product_accessory.accessory.id }}"/>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

    <div class="tab-pane" id="reviews">
        <a name="reviews"></a>
   
        {% reviews_for_instance product %}
    </div>

    </div>

</div>


    <input type="hidden"
           name="product_id"
           value="{{ product.id }}" />
       </div>
</div>

