{% load i18n %}
<ol class="breadcrumb">
    <!--
    <li class="visible-sm" >
        <a href="{% url lfs_shop_view %}">
            {% trans 'Home' %}</a>
        </li>
        -->
    <li >
        <a href="{% url lfs_shop_view %}"><i class="icon-home" ></i></a>
    </li>

    {% for object in objects %}
        <li {% if forloop.last %}class="last"{% endif %} >
        <!--<span class="divider">/</span>-->
            {% if forloop.last %}
                {{ object.name }}
            {% else %}
                <a href="{{ object.url }}">
                    {{ object.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ol>
