body {
    padding-top: 20px;
}

.footer {
    padding-top: 40px;
}

.categories-portlet.well {
    padding: 8px 0;
}

.header .search {
    text-align: center;
}

.header .row-fluid {
    margin-top: 10px;
}

.header .cart-portlet .portlet-footer {
    display: none;
}

body.product .product-images {
    margin-left: 0;
}

label {
    display: inline;
}

th.shipping_checkbox label {
    display: block;
}

select {
    width: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: block;
}

.block {
    display: block;
}

.useractions {
    margin-top: -10px;
    margin-bottom: 14px;
}

body.category .product-image {
    float: none;
    height: 275px;
    margin: 5px auto 0;
    text-align: center;
    /*width: 275px;*/
    width: 100%;
}

body.category .product-image:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

body.category .product-image img {
    display: inline-block;
    max-height: 98%;
    max-width: 98%;
    vertical-align: middle;
}

body.product .product-image-container {
    float: none;
    height: 400px;
    text-align: center;
    width: 400px;
    cursor: pointer;
}

body.product .product-image-container:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

body.product .product-image-container img {
    display: inline-block;
    max-height: 395px;
    max-width: 395px;
    vertical-align: middle;
}

body.search-results .header .search {
    visibility: hidden;
}

@media screen and (max-width: 979px) {
    body {
        padding-top: 0;
    }
    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .breadcrumb {
       margin-right: -20px;
       margin-left: -20px;
    }
}
