{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'Login' %} - {{ block.super }}
{% endblock %}

{% block section %}checkout-login{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Login") %}
{% endblock %}

{% block wrapper %}
    <h1>
        {% trans 'Please select!' %}
    </h1>

    <div class="row">
    <div class="login col-md-4">
        <h2 class="authenticate">{% trans 'Login' %}</h2>

        <p class="description">
            {% trans 'If you are already customer you can login. Your adress data will then already known.' %}
        </p>

        <form class="authenticate"
              action="{% url lfs_checkout_login %}"
              method="post">
            {% csrf_token %}
            <div class="form-wrapper">
                <div class="form">
                    {{ login_form }}
                </div>
            </div>

            <input type="hidden"
                   name="action"
                   value="login" />

            <input type="hidden"
                   name="next"
                   value="{% url lfs_checkout %}" />

            <button type="submit"
                    class="btn btn-default"
                    href="{% url lfs_checkout %}">{% trans 'Login' %}</button>
            <a class="bnt forgot-password-link" href="{% url lfs_password_reset %}">{% trans 'Forgot password?' %}</a>
        </form>
    </div>

    {% if not ANON_ONLY %}
        <div class="register col-md-4">
            <h2 class="authenticate">{% trans 'Register' %}</h2>

            <p class="description">
                {% trans 'If you are not already a customer you can register in order to store your address data and to follow the state of your orders.' %}
            </p>

            <form action="{% url lfs_checkout_login %}"
                  method="post">
                    {% csrf_token %}
                    <div class="form-wrapper">
                        <div class="form">
                            {{ register_form }}
                        </div>
                    </div>
                    <input type="hidden"
                           name="action"
                           value="register" />

                    <input type="hidden"
                           name="next"
                           value="{% url lfs_checkout %}" />

                    <button class="btn btn-default"
                            type="submit"
                            href="{% url lfs_checkout %}">{% trans "Register" %}</button>
            </form>

        </div>
    {% endif %}
    {% if anonymous_checkout %}
        <div class="anonymous-checkout col-md-4">
            <h2 class="authenticate">{% trans 'Checkout' %}</h2>

            <div class="description">
                {% trans 'You can also checkout without login or registration.' %}
            </div>

            <div class="form-wrapper">&nbsp;</div>

            <a class="btn btn-default"
               href="{% url lfs_checkout %}">
               {% trans 'Checkout' %}
            </a>
        </div>
    {% endif %}
    </div>
{% endblock %}
