{% for shipping_method in shipping_methods %}
    <div class="shipping-method container">
        {% if shipping_method.image %}
            <div class="col-md-1 pull-left">
                <img class="payment-method"
                    src="{{ shipping_method.image.url }}"
                    alt="{{ shipping_method.name }}">
            </div>
        {% endif  %}
        <label class="radio pull-left">
            <input type="radio"
                   name="shipping-method"
                   class="update-checkout"
                   {% ifequal shipping_method.id selected_shipping_method.id  %}checked="checked"{% endifequal %}
                   value="{{shipping_method.id}}"
                   id="shipping-method-{{shipping_method.id}}" />
            {{ shipping_method.name }}
            {{ shipping_method.description|safe }}
        </label>
    </div>
{% endfor %}
