{% load i18n %}
{% load lfs_tags %}

<div class="reviews">

    {% if has_rated %}
        <div>
            {% trans 'You have already rated' %}
        </div>
    {% else %}
        <div class="btn btn-default pull-right">
            <a class="button left"
               href="{% url reviews_add content_type_id content_id %}">{% trans 'Add review' %}</a>
        </div>
    {% endif %}
    <h1 class="section">{% trans 'Reviews' %}</h1>

    {% if reviews %}
        {% for review in reviews %}
            <div class="review">
                <ul class="star-rating small-star inline-rating pull-right">
                    <li class="current-rating"
                        style="width:{{review.score|multiply:10}}px">
                        Currently 3/5 Stars
                    </li>
                </ul>
                {% trans 'by' %}
                {% if review.name %}
                    <strong>{{ review.name }}</strong> - 
                {% else %}
                    <strong>{% trans 'Anonymous' %}</strong> - 
                {% endif %}
                    <small>{{ review.creation_date|date:"d F Y" }}</small>
            </div>    
            <div>        
                {{ review.comment|linebreaks }}
            </div>
            <hr /> 
        {% endfor %}
    {% else %}
        <p>
            {% trans 'There are no ratings for this product. Be the first one!' %}
        </p>
    {% endif %} 

</div>
