{% load i18n %}
{% if pagination.total_pages > 1 %}
<ul class="pagination">
    {% if pagination.first_page %}
    <li class="first-page">
        <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.first_page }}{{ pagination.getvars }}">{% trans "First page" %}</a>
    </li>
    {% endif %}
    <li class="{% if pagination.has_prev %}enabled{% else %}disabled{% endif %}">
        <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.prev }}{{ pagination.getvars }}">&laquo;</a>
    </li>

    {% for p in pagination.page_range %}
      {% if p == pagination.current_page %}
      <li class="active"><a href="#">{{ p }}<span class="sr-only">(current)</span></a></li>
      {% else %}
      <li><a href="{{ pagination.url }}?{{ pagination.getparam }}={{ p }}{{ pagination.getvars }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    <li class="{% if pagination.has_next %}enabled{% else %}disabled{% endif %}">
        <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.next }}{{ pagination.getvars }}">&raquo;</a>
    </li>

    {% if pagination.last_page %}
    <li class="last-page">
      <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.last_page }}{{ pagination.getvars }}">{% trans "Last page" %}</a>
    </li>
    {% endif %}

    {% if pagination.total_text %}
        <li class="total-text">
            ({{ pagination.total_text }})
        </li>
    {% endif %}
</ul>
{% endif %}
