{% load i18n lfs_tags %}

{% if cart_items %}
    <h1 class="first-heading">
        {% trans "Voucher" %}
    </h1>
    <span class="voucher-description">{% trans "If you have voucher code, please enter it here" %}</span>
    <input data="{% url lfs_check_voucher_cart %}"
           type="text"
           id="voucher"
           name="voucher"
           value="{{ voucher_number }}"
           size="30" />

    {% if voucher_number and voucher_message %}
        <span class="voucher-message">
            {{ voucher_message }}
        </span>
    {% endif %}

    <h1 class="title">
        {% trans 'Your Cart' %}
    </h1>

    <form id="cart-form"
          action="{% url lfs.cart.views.refresh_cart %}"
          onsubmit="return false;">

        {% for cart_item in cart_items %}

        <div class="row-fluid product-row">
                <div class="pull-left image-slot span2">
                {% if cart_item.product.get_image.image %}
                    <a href="{{ cart_item.product.get_base_product.get_absolute_url }}">
                        <img src="{{ cart_item.product.get_image.image.url_100x100 }}"
                             alt="{{ cart_item.product.get_name }}"/>
                    </a>
                {% endif %}
                </div>
                <div class="span10">
                <div class="row-fluid">
                    <div class="span12 product-details">
                        <h2 class="product-title">
                            <a href="{{ cart_item.product.get_base_product.get_absolute_url }}">
                                 {{ cart_item.product.get_name }}
                            </a>
                        </h2>
                        <div class="row-fluid">
                            <div class="span2">
                                <table class="table">
                                    {% for property in cart_item.product.get_variant_properties %}
                                    <tr>
                                        <th>{{ property.title }}:</th><td> {{ property.value }} {{ property.unit|safe }}</td>
                                    </tr>
                                    {% endfor %}

                                    {% for property in cart_item.product.get_displayed_properties %}
                                     <tr>
                                        <th>{{ property.title }}:</th><td> {{ property.value }} {{ property.unit|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                            <div class="span6 offset4">
				<table class="table">
				    <thead>
					<tr>
                                          <th>{% trans 'Size' %}</th>
					  <th>{% trans 'Quantity' %}</th>
					  <th>{% trans 'Price' %}</th>
<!--
					  <th class="hidden-phone">{% trans 'VAT' %}</th>
					  <th class="hidden-phone">{% trans 'Net Price' %}</th>
-->
                                          <th>{% trans 'Total' %}</th>
					</tr>
				    </thead>
				    <tbody>
					<tr>
					  <td class="size">
						{% if cart_item.product.is_configurable_product %}
						    {% for property in cart_item.obj.get_properties %}
							<div>
							    {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
							    {% if property.obj.is_select_field and property.display_price %}
								 ({{ property.price|currency:request }})
							    {% endif %}
							</div>
						    {% endfor %}
						{% endif %}
						<select class="cart-size" name="size-variant_{{ cart_item.obj.id }}">
						    {% for variant in cart_item.product.get_same_color_active_variants %}
							<option value="{{ variant.id }}" {% if variant.selected %}selected="selected"{% endif %}>
							    {{ variant.value }}
							</option>
						    {% endfor %}
						</select>
                                          </td>
                                          <td class="quantity">
                                              <select class="cart-amount" name="amount-cart-item_{{ cart_item.obj.id }}">
                                                  {% for count in cart_item.product.get_amount_range %}
                                                      <option value="{{ count }}" {% ifequal count cart_item.quantity  %}selected="selected"{% endifequal %}>
                                                          {{ count }}
                                                      </option>
                                                   {% endfor %}
                                              </select>
                                          </td>
					  <td class="price-unit">
                                              {{ cart_item.product.price|currency:request }}
                                          </td>
<!--
					  <td class="vat hidden-phone">
                                              {{ cart_item.product_tax|currency:request }}
                                          </td>
					  <td class="net-price hidden-phone">
                                              {{ cart_item.product_price_net|currency:request }}
                                          </td>
-->
                                          <td class="total">
                                              {{ cart_item.product_price_gross|currency:request }}
                                          </td>
                                          <td>
                    <a href="{% url lfs_delete_cart_item cart_item.obj.id %}"
                       title="{% trans 'Delete item' %}"
                       class="delete-button delete-cart-item">
                       <i class="icon-trash icon-white"></i>
                    </a>

                                          </td>
					</tr>
				    </tbody>
				</table>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        {% endfor %}

        <table class="table">
            <tr>
                <td class="span6">
                    {% trans 'Country' %}:
                </td>
                <td class="span3">
                    <select class="cart-country"
                            name="country">
                        {% for country in countries %}
                            <option {% ifequal country.code selected_country.code  %}selected="selected"{% endifequal %}
                                    value="{{ country.code }}">
                                {{ country.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td class="span3">
                </td>
            </tr>
            <tr>
                <td class="span6">
                    {% trans 'Shipping' %}:
                </td>
                <td class="span3">
                    <select class="cart-shipping-method"
                            name="shipping_method">
                        {% for shipping_method in shipping_methods %}
                            <option {% ifequal shipping_method.id selected_shipping_method.id  %}selected="selected"{% endifequal %}
                                    value="{{ shipping_method.id }}">
                                {{ shipping_method.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td class="span3">
                    {{ shipping_price|currency:request }}
                </td>
            </tr>
            <tr>
                <td class="span6">
                    {% trans 'Payment' %}:
                </td>
                <td class="span3">
                    <select class="cart-payment-method"
                            name="payment_method">
                        {% for payment_method in payment_methods %}
                            <option {% ifequal payment_method.id selected_payment_method.id  %}selected="selected"{% endifequal %}
                                    value="{{ payment_method.id }}">
                                {{ payment_method.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td class="span3">
                    {{ payment_price|currency:request }}
                </td>
            </tr>
            <tr>
                <td class="span6">
                    {% trans 'Total' %}:
                </td>
                <td class="span3">
                </td>
                <td class="span3">
                    {{ cart_price|currency:request }}
                </td>
            </tr>
            <tr>
                <td class="span6">
                    {% trans 'Inclusive VAT' %}:
                </td>
                <td class="span3">
                </td>
                <td class="span3">
                    {{ cart_tax|currency:request }}
                </td>
            </tr>
            <tr>
                <td class="span12" colspan="3">
                    {% trans 'Total delivery time' %}: {{ max_delivery_time }}
                </td>
            </tr>

        </table>

        <a class="btn"
           href="{% url lfs_checkout_dispatcher %}">
           {% trans 'Checkout' %}
        </a>
        <a class="btn"
           href="{{ shopping_url }}">
           {% trans 'Go on shopping' %}
        </a>

    </form>
{% else %}
    <h1 class="title">
        {% trans 'Your Cart is empty' %}
    </h1>
    <a class="btn"
       href="{{ shopping_url }}">
       {% trans 'Go on shopping' %}
    </a>
{% endif %}
