{% load i18n %}
{% load lfs_tags %}

{% if categories %}
    <div class="portlet categories-portlet">
        <div class="portlet-header popover-title">
            {{ title }}
        </div>
        <div class="portlet-body popover-content">
            <ul class="nav nav-list">
                {% for category in categories %}
                    <li class="level-{{ category.level }} {% if forloop.last %}last{% endif %} {% if category.is_current %} active {% endif %}  " >
                        <a href="{{ category.category.get_absolute_url }}">
                            {{ category.category.name }}
                        </a>
                        {% category_children category.children %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
