{% extends "lfs/base.html" %}
{% load i18n lfs_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block section %}password-reset{% endblock %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password reset") %}
{% endblock %}


{% block wrapper %}
<div class="col-md-12">
    <h1 class="first-heading">
        {% trans "Password reset" %}
    </h1>
    <p>
        {% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    </p>
    <div class="col-md-12">
    <form action=""
          method="post"
          class="form-inline" role="form">
          {% csrf_token %}

          <div class="col-md-2 text-right">
              {{ form.email.label_tag }}:
          </div>
          <div class="form-group col-md-6">
              {{ form.email }}
          </div>
          <button type="submit" class="btn btn-default">{% trans 'Reset my password' %}</button>

          <br /><br />
          {% if form.email.errors %}
              <div class="alert alert-warning">{{ form.email.errors }}</div>
          {% endif %}
    </form>
    </div>
</div>
<br />
{% endblock %}

{% block local_js %}
    <script>
        $('.form-group input').addClass('form-control');
    </script>
{% endblock %}

