{% extends "lfs/base.html" %}
{% load i18n lfs_tags %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block section %}password-reset-confirm{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password reset") %}
{% endblock %}


{% block wrapper %}
    {% if validlink %}
        <h1 class="first-heading">
            {% trans 'Enter new password' %}
        </h1>
        <p>
            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
        <form action=""
              method="post">
            {% csrf_token %}
            <div class="field">
                    <label>{% trans 'New password:' %}</label>
                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}
            </div>
            <div>
                    <label>{% trans 'Confirm password:' %}</label>
                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}
            </div>
            <div class="buttons">
                <input type="submit" value="{% trans 'Change my password' %}" />
            </div>
        </form>
    {% else %}
        <h1 class="first-heading">
            {% trans 'Password reset unsuccessful' %}
        </h1>
        <p>
            {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
        </p>
    {% endif %}
{% endblock %}
