{% load i18n %}

<h1 class="first-heading">
    {{ category.name }}
</h1>
<div class="description">
    {{ category.description|safe }}
</div>
<div id="categories">

    {% for row in categories %}
        <ul class="category-row row clearfix nav">
            {% for category in row %}
                {% if row|length > 1  %}
                <li class="category-data col-md-{% widthratio 12 row|length 1 %} ">
                    <div class="thumbnail col-md-12 clearfix">
                        {% if category.get_image %}
                        <div class="text-center image-container">
                            <a href="{% url lfs_category category.slug %}">
                                <img src="{{ category.get_image.url_200x200 }}"
                                     alt="{{ category.name }}" />
                            </a>
                        </div>
                        {% endif %}
                        <div class="caption text-center">
                            <h3 class="product-title">
                                <a href="{% url lfs_category category.slug %}">
                                    {{ category.name }}
                                </a>
                            </h3>
                            <div class="category-description">
                                {{ category.short_description|safe }}
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if row|length == 1 %}
                <li class="category-data col-md-{% widthratio 12 row|length 1 %} ">
                    <div class="thumbnail col-md-12 clearfix">
                        {% if category.get_image %}
                        <div class="text-center image-container pull-left">
                            <a href="{% url lfs_category category.slug %}">
                                <img src="{{ category.get_image.url_200x200 }}"
                                     alt="{{ category.name }}" />
                            </a>
                        </div>
                        {% endif %}
                        <div class="caption text-left">
                            <h3 class="product-title">
                                <a href="{% url lfs_category category.slug %}">
                                    {{ category.name }}
                                </a>
                            </h3>
                            <div class="category-description">
                                {{ category.short_description|safe }}
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}

</div>
