{% load i18n %}

<h1 class="first-heading">
    {{ category.name }}
</h1>
<div class="description">
    {{ category.description|safe }}
</div>
<div id="categories">

    {% for row in categories %}
        <ul class="category-row row clearfix nav">
            {% for category in row %}
                <li class="category-data col-md-{% widthratio 12 row|length 1 %} ">
                    <div class="thumbnail col-md-12 clearfix">
                        {% if category.get_image %}
                        <div class="category-image col-md-3 text-center">
                            <a href="{% url lfs_category category.slug %}">
                                <img src="{{ category.get_image.url_100x100 }}"
                                     alt="{{ category.name }}" />
                            </a>
                        </div>
                        {% endif %}
                        <div class="col-md-9">
                            <h3 class="first-heading">{{ category.name }}</h3>
                            <div class="category-description">
                                {{ category.short_description|safe }}
                            </div>
                            <div class="details-button">
                                <a class="btn btn-default"
                                   href="{% url lfs_category category.slug %}">{% trans 'Details' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

</div>
